.applyForm {
  border-radius: 60px;
}

.form {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid black;
}

.h-500px {
  height: 500px;
}
